# ITP4869 (2018/19)
## Lab 5 - Solutions

### Task 1

In [5]:
# Task 1a
import numpy as np
np.__version__

'1.16.2'

In [2]:
# Task 1b
arr = np.arange(1, 101)
arr

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [3]:
# Task 1c
arr1 = arr[arr%2 == 0]
arr1

array([  2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,  26,
        28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,  52,
        54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,  78,
        80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100])

In [4]:
# Task 1d
arr2 = arr[arr%5 == 0]
arr2

array([  5,  10,  15,  20,  25,  30,  35,  40,  45,  50,  55,  60,  65,
        70,  75,  80,  85,  90,  95, 100])

### Task 2

In [6]:
# Task 2a
arr = np.array(99)
arr

array(99)

In [7]:
# Task 2b
arr2 = np.arange(51, 69)
arr2

array([51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68])

In [8]:
# Task 2c
arr3 = arr2.reshape(3, 6)
arr3

array([[51, 52, 53, 54, 55, 56],
       [57, 58, 59, 60, 61, 62],
       [63, 64, 65, 66, 67, 68]])

In [9]:
# Task 2d
arr4 = arr3.
arr4

AttributeError: 'numpy.ndarray' object has no attribute 'reverse'

### Task 3

In [17]:
# Task 3a
wed = np.arange(np.datetime64('2019-06-05'), np.datetime64('2019-08-28'),7).reshape(3,4)
wed

array([['2019-06-05', '2019-06-12', '2019-06-19', '2019-06-26'],
       ['2019-07-03', '2019-07-10', '2019-07-17', '2019-07-24'],
       ['2019-07-31', '2019-08-07', '2019-08-14', '2019-08-21']],
      dtype='datetime64[D]')

In [10]:
# Task 3b
wed2 = wed.flatten()[::2].reshape(2,3)
wed2

array([['2019-06-05', '2019-06-19', '2019-07-03'],
       ['2019-07-17', '2019-07-31', '2019-08-14']], dtype='datetime64[D]')

In [11]:
# Task 3c
wed3 = wed[:,[1,3]]
wed3

array([['2019-06-12', '2019-06-26'],
       ['2019-07-10', '2019-07-24'],
       ['2019-08-07', '2019-08-21']], dtype='datetime64[D]')

In [12]:
# Task 3d
wed4 = wed.flatten()[::wed.shape[1]+1]
wed4

array(['2019-06-05', '2019-07-10', '2019-08-14'], dtype='datetime64[D]')

### Task 4

In [13]:
# Given
num = np.array([5, 2, 1, 1, 3, np.nan, 4, 3, 1, 4, 3, 1, 2, np.nan, np.nan, 1, 1, 2])

In [14]:
# Task 4a
np.where(num == 1)[0][-1]

16

In [15]:
# Task 4b
np.where(np.isnan(num))[0].size

3

In [16]:
# Task 4c
idx = np.where(np.isnan(num))[0]
num2 = np.delete(num, idx)
num2

array([5., 2., 1., 1., 3., 4., 3., 1., 4., 3., 1., 2., 1., 1., 2.])

In [17]:
# Set format for numpy arrays
# np.set_printoptions(formatter={'float': '{:.0f}'.format})

In [18]:
# Task 4d
num3 = num ** 0.5
num3

array([2.23606798, 1.41421356, 1.        , 1.        , 1.73205081,
              nan, 2.        , 1.73205081, 1.        , 2.        ,
       1.73205081, 1.        , 1.41421356,        nan,        nan,
       1.        , 1.        , 1.41421356])

### Task 5

In [19]:
# Task 5a - First Example
arr1 = np.arange(11, 23).reshape(3, 4)
arr1

array([[11, 12, 13, 14],
       [15, 16, 17, 18],
       [19, 20, 21, 22]])

In [20]:
# Extract the first and last rows from arr1
arr1[[0, -1]]

array([[11, 12, 13, 14],
       [19, 20, 21, 22]])

In [21]:
# Task 5a - Second Example
arr2 = np.arange(101, 117).reshape(4, 4)
arr2

array([[101, 102, 103, 104],
       [105, 106, 107, 108],
       [109, 110, 111, 112],
       [113, 114, 115, 116]])

In [22]:
# Extract the second and third rows from arr2
arr2[:, [1, 2]]

array([[102, 103],
       [106, 107],
       [110, 111],
       [114, 115]])

In [23]:
# Task 5b
from random import randint

arr = np.array([randint(1,25) for n in range(24)]).reshape(2,3,4)
arr

array([[[13,  3, 16, 23],
        [23,  8, 12, 23],
        [ 5, 14,  8,  9]],

       [[ 8,  6,  1, 20],
        [11, 21, 14,  6],
        [24, 17, 19, 13]]])

In [24]:
arr.T

array([[[13,  8],
        [23, 11],
        [ 5, 24]],

       [[ 3,  6],
        [ 8, 21],
        [14, 17]],

       [[16,  1],
        [12, 14],
        [ 8, 19]],

       [[23, 20],
        [23,  6],
        [ 9, 13]]])

In [25]:
arr.transpose(2,1,0)

array([[[13,  8],
        [23, 11],
        [ 5, 24]],

       [[ 3,  6],
        [ 8, 21],
        [14, 17]],

       [[16,  1],
        [12, 14],
        [ 8, 19]],

       [[23, 20],
        [23,  6],
        [ 9, 13]]])

In [26]:
# Task 5c
arr2 = np.arange(9).reshape(3,3)
np.save('Lab5.5c', arr2)

In [27]:
farr = np.load('Lab5.5c.npy')
farr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [28]:
farr2 = farr[::-1, ::-1]
farr2

array([[8, 7, 6],
       [5, 4, 3],
       [2, 1, 0]])

In [29]:
# Task 5d
from numpy.random import rand
arr3 = rand(2, 3, 4)
arr3

array([[[0.00861317, 0.13428896, 0.41701483, 0.1401513 ],
        [0.95710141, 0.50046174, 0.28782436, 0.21204108],
        [0.94435468, 0.83456093, 0.29730371, 0.97308879]],

       [[0.64928897, 0.68967677, 0.90354297, 0.86088255],
        [0.12725795, 0.24377395, 0.99604527, 0.25145373],
        [0.63468022, 0.92434544, 0.19412816, 0.7256498 ]]])

In [30]:
np.save('Lab5.5d', arr3)

### Task 6

In [31]:
# Task 6a
A = np.matrix([[1,2,3,-2], [3,2,-1,2], [2,-1,-2,-3], [2,-3,2,1]])
B = np.matrix([[6], [4], [2], [8]])
X = A**(-1) * B
X

matrix([[ 2.11111111],
        [-0.33333333],
        [ 1.44444444],
        [-0.11111111]])

In [32]:
# Task 6b
a = np.array([[1,2,3,-2], [3,2,-1,2], [2,-1,-2,-3], [2,-3,2,1]])
b = np.array([6, 4, 2, 8])
x = np.linalg.inv(a).dot(b)
x

array([ 2.11111111, -0.33333333,  1.44444444, -0.11111111])

### Task 7

In [33]:
# Task 7.1
r1 = np.array([np.random.randint(10) for _ in range(10)])
r2 = np.array([np.random.randint(10) for _ in range(10)])

In [34]:
r1

array([0, 1, 8, 5, 0, 2, 3, 8, 9, 7])

In [35]:
r2

array([0, 4, 7, 8, 2, 0, 4, 8, 5, 2])

In [36]:
# Task 7.2
def maxx(x, y):
    return x if x >= y else y

In [37]:
maxx(7, 8)

8

In [38]:
# Task 7.3
pair_max = np.vectorize(maxx, otypes=[int])

In [39]:
# Task 7.4
pair_max(r1, r2)

array([0, 4, 8, 8, 2, 2, 4, 8, 9, 7])

### Task 8

In [40]:
# Task 8.1
iris = np.load('iris2d.npy')
iris.shape

(150, 5)

In [41]:
# Task 8.2
iris2 = iris[:25,:-1].flatten()
iris2.shape

(100,)

In [42]:
# Task 8.3
iris2[np.random.randint(50, size=20)] = np.nan
iris2

array([nan, 3.5, 1.4, 0.2, 4.9, nan, 1.4, 0.2, 4.7, 3.2, 1.3, 0.2, nan,
       3.1, 1.5, 0.2, nan, nan, nan, 0.2, nan, nan, nan, 0.4, 4.6, nan,
       nan, nan, nan, 3.4, 1.5, 0.2, 4.4, nan, nan, 0.2, 4.9, 3.1, 1.5,
       0.1, 5.4, nan, nan, nan, nan, nan, nan, 0.2, 4.8, nan, 1.4, 0.1,
       4.3, 3. , 1.1, 0.1, 5.8, 4. , 1.2, 0.2, 5.7, 4.4, 1.5, 0.4, 5.4,
       3.9, 1.3, 0.4, 5.1, 3.5, 1.4, 0.3, 5.7, 3.8, 1.7, nan, 5.1, nan,
       1.5, 0.3, 5.4, 3.4, 1.7, 0.2, 5.1, 3.7, 1.5, 0.4, 4.6, 3.6, 1. ,
       0.2, 5.1, 3.3, 1.7, 0.5, 4.8, 3.4, 1.9, 0.2])

In [43]:
np.isnan(iris2).sum()

24

In [44]:
# Task 8.4
np.set_printoptions(suppress=True)
iris2[np.isnan(iris2)] = 999
iris2

array([999. ,   3.5,   1.4,   0.2,   4.9, 999. ,   1.4,   0.2,   4.7,
         3.2,   1.3,   0.2, 999. ,   3.1,   1.5,   0.2, 999. , 999. ,
       999. ,   0.2, 999. , 999. , 999. ,   0.4,   4.6, 999. , 999. ,
       999. , 999. ,   3.4,   1.5,   0.2,   4.4, 999. , 999. ,   0.2,
         4.9,   3.1,   1.5,   0.1,   5.4, 999. , 999. , 999. , 999. ,
       999. , 999. ,   0.2,   4.8, 999. ,   1.4,   0.1,   4.3,   3. ,
         1.1,   0.1,   5.8,   4. ,   1.2,   0.2,   5.7,   4.4,   1.5,
         0.4,   5.4,   3.9,   1.3,   0.4,   5.1,   3.5,   1.4,   0.3,
         5.7,   3.8,   1.7, 999. ,   5.1, 999. ,   1.5,   0.3,   5.4,
         3.4,   1.7,   0.2,   5.1,   3.7,   1.5,   0.4,   4.6,   3.6,
         1. ,   0.2,   5.1,   3.3,   1.7,   0.5,   4.8,   3.4,   1.9,
         0.2])